<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <b>Select your preferences </b>
        <p>
          Select the Program Areas, Data Sources, Period and Coverage Levels you
          are interested in.
        </p>
      </v-col>

      <v-col class="mb-4">
        <p class="textColor">
          <b>View datasheet</b>- <a>see all available data in database</a>
        </p>
        <v-card outlined>
          <v-col cols="12" class="d-flex flex-wrap">
            <v-col cols="4" lg="4" md="3" sm="12">
              <div>
                <b>Indicators Selection</b>
                <div class="checkboxes-style">
                  <v-data-table
                    dense
                    v-model="rmnchSelected"
                    :headers="rmnchHeaders"
                    :items="rmnchItems"
                    hide-default-footer
                    disable-pagination
                    item-key="name"
                    show-select
                    class="elevation-0"
                  >
                  </v-data-table>

                  <v-data-table
                    dense
                    v-model="nutritionSelected"
                    :headers="nutritionHeaders"
                    :items="nutritionItems"
                    hide-default-footer
                    item-key="name"
                    disable-pagination
                    show-select
                    class="elevation-0 mt-2"
                  >
                  </v-data-table>
                  <v-data-table
                    dense
                    v-model="immuSelected"
                    :headers="immuHeaders"
                    :items="immuItems"
                    hide-default-footer
                    disable-pagination
                    item-key="name"
                    show-select
                    class="elevation-0 mt-2"
                  >
                  </v-data-table>
                  <v-data-table
                    dense
                    v-model="malariaSelected"
                    :headers="malariaHeaders"
                    :items="malariaItems"
                    hide-default-footer
                    disable-pagination
                    item-key="name"
                    show-select
                    class="elevation-0 mt-2"
                  >
                  </v-data-table>
                </div>
                <div class="mt-8">
                  <b>Data Source Selection</b>
                  <v-sheet elevation="0" outlined class="checkboxes-style pa-2">
                    <!-- <b></b>
            <v-checkbox
              label="NHMIS Annual"
              class="mt-0"
              hide-details
              v-model="selectedDs"
              value=""
            ></v-checkbox>
            <v-checkbox
              label="NHMIS Quarterly"
              class="mt-0"
              hide-details
              v-model="selectedDs"
              value="NHMIS Quarterly"
            ></v-checkbox>
            <v-checkbox
              label="NHMIS Monthly"
              class="mt-0"
              hide-details
              v-model="selectedDs"
              value="NHMIS Monthly"
            ></v-checkbox> -->
                    <v-data-table
                      dense
                      v-model="routineSelected"
                      :headers="ROUTINEHeaders"
                      :items="routineItems"
                      hide-default-footer
                      disable-pagination
                      item-key="name"
                      show-select
                      class="elevation-0 mt-2"
                    >
                    </v-data-table>

                    <v-data-table
                      dense
                      v-model="surveySelected"
                      :headers="surveyHeaders"
                      :items="surveyItems"
                      hide-default-footer
                      disable-pagination
                      item-key="name"
                      show-select
                      class="elevation-0 mt-2"
                    >
                    </v-data-table>
                    <v-data-table
                      dense
                      v-model="estimateSelected"
                      :headers="estimateHeaders"
                      :items="estimateItems"
                      hide-default-footer
                      disable-pagination
                      item-key="name"
                      show-select
                      class="elevation-0 mt-2"
                    >
                    </v-data-table>
                   
                  </v-sheet>
                </div>

                <div class="mt-8">
                  <b>Period Selection</b>
                  <br />
                  <small>Select available years under each source</small>
                  <div class="d-flex flex-wrap">
                    <v-checkbox
                      label="2019"
                      hide-details
                      v-model="selectedYears"
                      value="2019"
                    ></v-checkbox>
                    <v-checkbox
                      label="2018"
                      hide-details
                      v-model="selectedYears"
                      value="2018"
                    ></v-checkbox>
                    <v-checkbox
                      label="2017"
                      hide-details
                      v-model="selectedYears"
                      value="2017"
                    ></v-checkbox>
                    <v-checkbox
                      label="2016"
                      hide-details
                      v-model="selectedYears"
                      value="2016"
                    ></v-checkbox>
                    <v-checkbox
                      label="2015"
                      hide-details
                      v-model="selectedYears"
                      value="2015"
                    ></v-checkbox>
                    <v-checkbox
                      label="2014"
                      hide-details
                      v-model="selectedYears"
                      value="2014"
                    ></v-checkbox>
                    <v-checkbox
                      label="2013"
                      hide-details
                      v-model="selectedYears"
                      value="2013"
                    ></v-checkbox>
                    <v-checkbox
                      label="2012"
                      hide-details
                      v-model="selectedYears"
                      value="2012"
                    ></v-checkbox>
                    <v-checkbox
                      label="2011"
                      hide-details
                      v-model="selectedYears"
                      value="2011"
                    ></v-checkbox>
                    <v-checkbox
                      label="2010"
                      hide-details
                      v-model="selectedYears"
                      value="2010"
                    ></v-checkbox>
                    <v-checkbox
                      label="2009"
                      hide-details
                      v-model="selectedYears"
                      value="2009"
                    ></v-checkbox>
                    <v-checkbox
                      label="2008"
                      hide-details
                      v-model="selectedYears"
                      value="2008"
                    ></v-checkbox>
                    <v-checkbox
                      label="2007"
                      hide-details
                      v-model="selectedYears"
                      value="2007"
                    ></v-checkbox>
                    <v-checkbox
                      label="2006"
                      hide-details
                      v-model="selectedYears"
                      value="2006"
                    ></v-checkbox>
                    <v-checkbox
                      label="2005"
                      hide-details
                      v-model="selectedYears"
                      value="2005"
                    ></v-checkbox>
                  </div>
                </div>
                <div class="mt-8">
                  <b class="mt-2">Level Selection</b>
                  <div class="d-flex flex-wrap">
                    <v-checkbox
                      label="National"
                      class="mt-0"
                      hide-details
                      v-model="selectedLevels"
                      value="National"
                    ></v-checkbox>
                    <v-checkbox
                      label="Zonal"
                      class="mt-0"
                      hide-details
                      v-model="selectedLevels"
                      value="Zonal"
                    ></v-checkbox>
                    <v-checkbox
                      label="States"
                      class="mt-0"
                      hide-details
                      v-model="selectedLevels"
                      value="States"
                    ></v-checkbox>
                    <v-checkbox
                      label="LGA"
                      class="mt-0"
                      hide-details
                      v-model="selectedLevels"
                      value="LGA"
                    ></v-checkbox>
                  </div>
                </div>
                <div class="mt-8">
                  <b class="mt-2">NOTES</b>
                  <v-sheet elevation="0" outlined class="pa-2"
                    >- Total Fertility Rate has no 2013, 2011</v-sheet
                  >
                </div>
              </div>
            </v-col>
            <v-divider vertical></v-divider>
            <v-col cols="8" lg="8" md="9" sm="12">
              <div class="ml-2">
                <v-data-table
                  dense
                  :headers="mainTableHeader"
                  :items="mainTableItems"
                  group-by="category"
                  class="elevation-0 main-table"
                  hide-default-footer
                  group-desc
                  disable-pagination
                >
                  <template v-slot:group.header="{ items }">
                    <th colspan="4" class="main-table-category">
                      {{ items[0].category }}
                    </th>
                  </template>
                  <template v-slot:item="{ item }">
                    <tr>
                      <td style="font-size: x-small">{{ item.ind }}</td>
                      <td>
                        <span
                          v-for="(year, index) in item.ds"
                          :key="index"
                          class="mx-3"
                        >
                          <td style="font-size: x-small">{{ year }}</td>
                        </span>
                      </td>
                      <td>
                        <span
                          v-for="(year, index) in item.level"
                          :key="index"
                          class="mx-3"
                        >
                          <td style="font-size: x-small">{{ year }}</td>
                        </span>
                      </td>
                      <td>
                        <span
                          v-for="(year, index) in item.year"
                          :key="index"
                          class="mx-3"
                        >
                          <td style="font-size: x-small">{{ year }}</td>
                        </span>
                      </td>
                    </tr>
                  </template>
                </v-data-table>
                <div class="d-flex flex-wrap mt-2 justify-space-between">
                  <div>
                    Indicators: <b>{{ totalIndicators }} Selected</b>
                  </div>
                  <div>
                    Data Sources: <b>{{ totalDs }} Selected</b>
                  </div>
                  <div>
                    Period: <b>{{ totalYears }} years</b>
                  </div>
                  <div>
                    Levels: <b>{{ selectedLevels.join(", ") }}</b>
                  </div>
                </div>
                <div class="d-flex mt-3">
                  <v-spacer></v-spacer>
                  <div>
                    <v-btn text class="text-capitalize"> Save for Later </v-btn>
                    <v-btn color="#3f8994" class="white--text">
                      Approve Data
                    </v-btn>
                  </div>
                </div>
              </div>
            </v-col>
          </v-col>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";
export default {
  name: "HelloWorld",

  data: () => ({
    rmnchSelected: [],
    data: [],

    filter: [],
    rmnchHeaders: [
      {
        text: "RMNCH",
        align: "start",
        sortable: false,
        value: "name",
        class: "table-header font-weight-black",
      },
    ],
    rmnchItems: [],
    nutritionSelected: [],
    nutritionHeaders: [
      {
        text: "NUTRITION",
        align: "start",
        sortable: false,
        value: "name",
        class: "table-header font-weight-black",
      },
    ],
    nutritionItems: [
      {
        name: "Percentage of children under 6 months exclusiv...",
      },
    ],

    immuSelected: [],
    immuHeaders: [
      {
        text: "IMMUNIZATION",
        align: "start",
        sortable: false,
        value: "name",
        class: "table-header font-weight-black",
      },
    ],
    immuItems: [
      {
        name: "ANC Coverage Rate (at least 1 visit)",
      },
    ],

    malariaSelected: [],
    malariaHeaders: [
      {
        text: "MALARIA",
        align: "start",
        sortable: false,
        value: "name",
        class: "table-header font-weight-black",
      },
    ],
    malariaItems: [],
    //

    routineSelected: [],
    ROUTINEHeaders: [
      {
        text: "ROUTINE",
        align: "start",
        sortable: false,
        value: "name",
        class: "table-header font-weight-black",
      },
    ],
    routineItems: [
      // {
      //   name: "NHMIS Annual",
      // },
    
     
     
    ],

    surveySelected: [],
    surveyHeaders: [
      {
        text: "SURVEYS",
        align: "start",
        sortable: false,
        value: "name",
        class: "table-header font-weight-black",
      },
    ],
    surveyItems: [],

    estimateSelected: [],
    estimateHeaders: [
      {
        text: "ESTIMATES",
        align: "start",
        sortable: false,
        value: "name",
        class: "table-header font-weight-black",
      },
    ],
    estimateItems: [
      // {
      //   name: "NHMIS Annual",
      // },
      // {
      //   name: "Percentage of pregnant women 15-49 years old who re...",
      // },
      // {
      //   name: "NHMIS Quarterly",
      // },
      // {
      //   name: "NHMIS Monthly",
      // },
    ],

    //selected
    selectedDs: [],
    selectedYears: [],
    selectedLevels: [],

    mainTableHeader: [
      {
        text: "INDICATORS",
        align: "center",
        sortable: false,
        value: "ind",
        width: "170px",
      },
      {
        text: "Data Sources",
        align: "center",
        sortable: false,
        value: "ds",
        width: "180px",
      },
      {
        text: "Level",
        align: "center",
        sortable: false,
        value: "level",
        width: "170px",
      },
      {
        text: "YEARS",
        align: "center",
        sortable: false,
        value: "year",
        width: "240px",
      },
    ],
    mainTableItems: [
      {
        ind: "Maternal Health",
        ds: ["NHMIS", "NMIS", "NDHS"],
        level: ["National", "Zonal", "Subnational", "LGA"],
        year: ["2018", "2019", "2017", "2016"],
        category: "REPRODUCTIVE, MATERNAL, NEWBORN & CHILD HEALTH",
      },
      {
        ind: "Skilled Attendance at delivery or Birth",
        ds: ["NHMIS", "NMIS"],
        level: ["National", "Zonal", "Subnational", "LGA"],
        year: ["2019", "2018", "2017", "2016", "2001", "2005", "1998", "1999"],
        category: "REPRODUCTIVE, MATERNAL, NEWBORN & CHILD HEALTH",
      },
      {
        ind: "Total Fertality rate",
        ds: ["NHMIS", "NMIS"],
        level: ["National", "Zonal"],
        year: ["2018", "2019", "2017", "2016", "2018", "2019", "2017", "2016"],
        category: "REPRODUCTIVE, MATERNAL, NEWBORN & CHILD HEALTH",
      },
      {
        ind: "ANC coverage (at list 1 visit)",
        ds: ["NHMIS", "NMIS"],
        level: ["National", "Zonal", "Subnational", "LGA"],
        year: ["2018", "2019", "2017", "2016", "2018", "2019", "2017", "2016"],
        category: "REPRODUCTIVE, MATERNAL, NEWBORN & CHILD HEALTH",
      },
      {
        ind: "ANC coverage ( 4 visit)",
        ds: ["NHMIS", "NMIS"],
        level: ["National", "Zonal", "Subnational", "LGA"],
        year: ["2018", "2019", "2017", "2016", "2018", "2019", "2017", "2016"],
        category: "REPRODUCTIVE, MATERNAL, NEWBORN & CHILD HEALTH",
      },
      {
        ind: "ANC coverage (at list 1 visit)",
        ds: ["NHMIS", "NMIS"],
        level: ["National", "Zonal", "Subnational", "LGA"],
        year: ["2018", "2019", "2017", "2016", "2018", "2019", "2017", "2016"],
        category: "REPRODUCTIVE, MATERNAL, NEWBORN & CHILD HEALTH",
      },
      {
        ind: "Percentage of children under 6 months exclusively breastfed",
        ds: ["NHMIS", "NMIS", "NDHS"],
        level: ["National", "Zonal", "Subnational", "LGA"],
        year: ["2019", "2018", "2017", "2016", "2001", "2005", "1998", "1999"],
        category: "NUTRITION",
      },
      {
        ind: "Prevalence of stunting in children under five years",
        ds: ["NHMIS", "NMIS", "NDHS"],
        level: ["National", "Zonal"],
        year: ["2019", "2018", "2017", "2016", "2001", "2005", "1998", "1999"],
        category: "NUTRITION",
      },
      {
        ind: "Prevalence of wasting in children under five years",
        ds: ["NHMIS", "NMIS", "NDHS"],
        level: ["National", "Zonal"],
        year: ["2019", "2018", "2017", "2016", "2001", "2005", "1998", "1999"],
        category: "NUTRITION",
      },
      {
        ind: "Underweight prevalence in children under five years",
        ds: ["NHMIS", "NMIS", "NDHS"],
        level: ["National", "Zonal"],
        year: ["2019", "2018", "2017", "2016", "2001", "2005", "1998", "1999"],
        category: "NUTRITION",
      },
      {
        ind: "DPT 3/Penta 3 coverage rate",
        ds: ["NHMIS", "NMIS", "NDHS"],
        level: ["National", "Zonal", "Subnational", "LGA"],
        year: ["2019", "2018", "2017", "2016", "2001", "2005", "1998", "1999"],
        category: "IMMUNIZATION",
      },
      {
        ind: "IPV coverage rate",
        ds: ["NHMIS", "NMIS", "NDHS"],
        level: ["National", "Zonal"],
        year: ["2019", "2018", "2017", "2016", "2001", "2005", "1998", "1999"],
        category: "IMMUNIZATION",
      },
      {
        ind: "Measles Immunization Coverage",
        ds: ["NHMIS", "NMIS", "NDHS"],
        level: ["National", "Zonal"],
        year: ["2019", "2018", "2017", "2016", "2001", "2005", "1998", "1999"],
        category: "IMMUNIZATION",
      },
      {
        ind: "Percentage of children fully immunized against childhood diseases by age one",
        ds: ["NHMIS", "NMIS", "NDHS"],
        level: ["National", "Zonal"],
        year: ["2019", "2018", "2017", "2016", "2001", "2005", "1998", "1999"],
        category: "IMMUNIZATION",
      },
      {
        ind: "Percentage of women age 15-49 years who received at least one IPT dose pregnancy",
        ds: ["NHMIS", "NMIS", "NDHS"],
        level: ["National", "Zonal", "Subnational", "LGA"],
        year: ["2019", "2018", "2017", "2016", "2001", "2005", "1998", "1999"],
        category: "MALARIA",
      },
      {
        ind: "Percentage of children under 5 with fever who received ACT",
        ds: ["NHMIS", "NMIS", "NDHS"],
        level: ["National", "Zonal"],
        year: ["2019", "2018", "2017", "2016", "2001", "2005", "1998", "1999"],
        category: "MALARIA",
      },
      {
        ind: "Prevalence of malaria among under five children (microscopy positive)",
        ds: ["NHMIS", "NMIS", "NDHS"],
        level: ["National", "Zonal"],
        year: ["2019", "2018", "2017", "2016", "2001", "2005", "1998", "1999"],
        category: "MALARIA",
      },
      {
        ind: "Percentage of children under 5 with fever who received ACT",
        ds: ["NHMIS", "NMIS", "NDHS"],
        level: ["National", "Zonal"],
        year: ["2019", "2018", "2017", "2016", "2001", "2005", "1998", "1999"],
        category: "MALARIA",
      },
    ],
  }),
  mounted() {
    this.indicatorData();
    this.dssData();
  },
  computed: {
    totalIndicators() {
      return (
        this.rmnchSelected.length +
        this.nutritionSelected.length +
        this.immuSelected.length +
        this.malariaSelected.length
      );
    },
    totalDs() {
      return (
        this.routineSelected.length +
        this.surveySelected.length +
        this.estimateSelected.length
      );
    },
    totalYears() {
      console.log(this.selectedYears);
      return this.selectedYears.length;
    },
  },
  methods: {
    indicatorData() {
      axios
        .get("http://209.182.232.228:7000/api/crud/indicators/")
        .then((res) => {
          console.log(res, "data");
          let data = res.data;
          // let filter=[]
          for (let i = 0; i < data.length; i++) {
            if (data[i].program_area == "RMNCH") {
              this.rmnchItems.push({ name: data[i].full_name });
            }
            if (data[i].program_area == "Nutrition") {
              this.nutritionItems.push({ name: data[i].full_name });
            }
            if (data[i].program_area == "Immunization") {
              this.immuItems.push({ name: data[i].full_name });
            }
            if (data[i].program_area == "Malaria") {
              this.malariaItems.push({ name: data[i].full_name });
            }
          }
        });
    },
    dssData() {
      axios
        .get("http://209.182.232.228:7000/api/crud/datasources/")
        .then((res) => {
          let data = res.data;
          // let filter=[]
          for (let i = 0; i < data.length; i++) {
            if (data[i].classification == "Survey") {
              this.surveyItems.push({ name: data[i].datasource });
            }
            if (data[i].classification == "Estimate") {
              this.estimateItems.push({ name: data[i].datasource });
            }
            if (data[i].classification == "Routine") {
              this.routineItems.push({ name: data[i].datasource });
            }
          }
        });
    },
  },
};
</script>
<style>
.table-header {
  background: #f3f3f3;
}
.checkboxes-style {
  height: 300px;
  overflow-y: auto;
}
.main-table {
  border: 1px solid #e0e0e0;
}
.main-table-category {
  background: #cee4e9;
}
.textColor {
  color: #91ceda;
}
</style>
