<template>
  <v-app>
    <v-main>
      <Page4/>
    </v-main>
  </v-app>
</template>

<script>
import Page4 from './components/Page4.vue';

export default {
  name: 'App',

  components: {
    Page4,
  },

  data: () => ({
    //
  }),
};
</script>
